.card-img-container {
    height: 600px; /* Hauteur fixe */
    overflow: hidden;
    background: var(--gradient-box-w);
    box-shadow: var(--shadow-white-3);
    position: relative; /* Nécessaire pour positionner les badges */
    display: flex; /* Active Flexbox */
    justify-content: center; /* Centre horizontalement */
    border-radius: 12px;
    align-items: center; /* Centre verticalement */
    background: var(--color-gray); /* Couleur de fond si l'image ne couvre pas tout */
   
}
.card-img-container:hover {
  
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée */
}

.card-img-container img {
    width: auto; /* Permet de conserver le ratio de l'image */
    height: 90%; /* L'image occupe toute la hauteur */
    max-width: 100%; /* Empêche l'image de dépasser le conteneur */
    transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1); /* Transition plus fluide */

}

.card-img-container:hover img {
    transform: scale(1.1); /* Zoom progressif sur l'image */
   
    transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1), filter 0.8s cubic-bezier(0.25, 1, 0.5, 1); /* Transition fluide */
    z-index: 0; /* Assure que l'image est derrière les badges */

}

.row {
    margin-bottom: 20px;
    margin-top: 20px;
}

.subtitle {
   
    color: var(--color-body-white);
    text-transform: uppercase; /* Texte en majuscules */
    letter-spacing: 1px; /* Espacement entre les lettres */
    margin-bottom: 1rem; /* Espacement en bas */
    display: inline-block; /* Assure un bon alignement */
}

.card-title {
    color: var(--color-heading-wv); /* Couleur du texte */
    font-size: 16px; /* Taille du texte */
    font-weight: var(--p-bold); /* Met le texte en gras */
    margin-bottom: 0.5rem; /* Espacement en bas */
}

/* Badges positionnés par-dessus */
.tech-badges {
    position: absolute; /* Positionnement absolu par rapport au conteneur parent */
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1; /* Assure que les badges apparaissent au-dessus de l'image */

}

.tech-badges .badge {
    display: inline-block;
    background: var(--gradient-box-w);
    box-shadow: var(--shadow-white-2);
    color: var(--color-primary);
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px; /* Espacement entre les badges */
    font-size: var(--font-size-b3);
}

/* Boutons modernes */
.modern-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: var(--font-size-b3);
    font-weight: var(--p-bold);
    text-transform: uppercase;
    border-radius: 12px; /* Boutons arrondis */
    transition: all var(--transition);
    text-decoration: none;
    cursor: pointer;
}

.btn-demo {
    background: var(--gradient-box-w);
    box-shadow: var(--shadow-white-3);
    color: var(--color-primary);
}

.btn-demo:hover {
    background-color: var(--color-primary);
    color: var(--color-primary);
    box-shadow: 0 4px 15px white; /* Effet d'ombre */
    border: 1px solid white; /* Bordure au survol */
    transform: translateY(-2px); /* Légère élévation au survol */
    transition: all var(--transition); /* Transition fluide */
}

.btn-code {
    background: var(--gradient-box-w);
    box-shadow: var(--shadow-white-3);
    color: var(--color-primary);
}

.btn-code:hover {
    background-color: var(--color-primary);
    color: var(--color-primary);
    box-shadow: 0 4px 15px white; /* Effet d'ombre */
    border: 1px solid white; /* Bordure au survol */
    transform: translateY(-2px); /* Légère élévation au survol */
    transition: all var(--transition); /* Transition fluide */
}

.card-text {
    font-size: var(--font-size-b4); /* Fixe la taille du texte */
    line-height: var(--line-height-b2); /* Améliore la lisibilité avec un espacement entre les lignes */
    color: var(--color-body); /* Couleur du texte */
}

/* Conteneur des images */
.image-slider {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-slider img {
    position: absolute;
    width: auto;
    height: 90%;
    max-width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.image-slider img.active {
    opacity: 1;
}

/* Flèches de navigation */
.navigation-arrows {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transition fluide pour l'apparition */


}
.card-img-container:hover .navigation-arrows {
    opacity: 1;
    transform: translateY(-50%) scale(1); /* Apparition fluide sans changement brusque */
}

/* Style des flèches */
.navigation-arrows .arrow {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transition fluide pour le survol */
}

.navigation-arrows .arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transform: scale(1.2); /* Agrandissement au survol */
}

/* Titre de l'image */
.image-title {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* Afficher les flèches et le titre au survol */
.card-img-container:hover .navigation-arrows,
.card-img-container:hover .image-title {
    opacity: 1;
    transform: translateY(0); /* Apparition fluide */
}